.wrapper {
  width: 450px;
  //   height: 350px;
  .container {
    background: #e2e2e2;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-auto-rows: minmax(300px, 308px);
    grid-gap: 8px;
    padding: 8px;
    & .image-thumbnails-container {
      display: grid;
      grid-auto-rows: minmax(150px, 100px);
      grid-gap: 8px;
      padding-right: 8px;
      & .image-thumbnails {
        &.image.image-thumb {
          height: 100%;
        }
      }
    }
  }
}
.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
