@mixin flex-center($justify: center, $direction: row, $alignContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-content: $alignContent;
  align-items: center;
}
